*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
form{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    border:1px solid black;
    padding: 10px;
    gap:25px;
    min-width: 500px;
}

form label{
    font-size: 2rem;
}

form input{
    width:350px;
    height:35px;
    padding: 5px;
    font-size:1.5rem;
}

form button{
    padding: 5px 20px;
    color:white;
    font-size: 1.25rem;
    background-color: rgb(126, 111, 93);
    border:1px solid black;
}

form button:hover{
    transform: scale(0.98);
}

form div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25vh;
}
form h2{
    font-weight: lighter;
}

form p{
    font-size: 1.25rem;
}
